
.banner-pic {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: repeat(auto-fill, minmax(320px, 1fr)); // Responsive grid

    .banner-item-pic {
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        img {
            width: 100%;
            height: 347px; // Set the fixed height
            object-fit: cover;
            transition: scale 500ms ease-in-out;
            &:hover {
                    scale: 1.05;
                }
        }

        .banner-item-title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5); // Dark overlay with transparency
            color: white;
            font-size: 1em;
            text-align: center;
            transition: 200ms ease-in-out;
            &:hover{
                background-color: rgba(0, 0, 0, 0.8);
                
            }
        }
    } 
    .last-row-item {
        &:nth-last-child(2),
        &:last-child {
            grid-column: span 3; // When there is one or two items, they will span the whole row
        }

        &:nth-last-child(2)~&:last-child {
            grid-column: span 2; // When there are exactly 2 items in the last row, each spans half
        }
    }
}

@media screen and (max-width: 700px){
    .banner-pic {
        grid-template-columns: 1fr;

        .banner-item-pic{
            grid-column: span 1 !important;
        }
    }
}
    
