   .blog-list {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       gap: 20px;
   }
@media screen and (max-width: 1050px) {
    .blog-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}